body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

/* Adding our .info.legend to make sure it is properly loaded in and has the right colors and it is aligned. */

.info.legend {
  background: white;
  line-height: 1.5;
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.info.legend i {
  width: 18px;
  height: 18px;
  display: inline-block;
  margin-right: 8px;
  opacity: 0.7;
  vertical-align: middle;
}

.info.legend h3 {
  text-align: center;
  margin-bottom: 10px;
}

.info.legend div {
  display: flex;
  align-items: center;
}